<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <button type="button" id="fetchdata" >Fetch</button>
  <p id="result"> </p>
</body>
  <script>
    const fetchDataBtn = document.querySelector('#fetchdata')
    const result = document.querySelector('#result')
    const getData = function() {
      result.innerText = 'Loading....'
      fetch('https://rajg1011.github.io/bajaj/bfhl')
        .then(res => res.json())
        .then(data => {
          result.innerText = JSON.stringify(data, null, 2)
        })
        .catch(error => console.log(error))
    }
    fetchDataBtn.addEventListener('click', getData)
  </script>
</html>
